* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* optional but recommended for consistent sizing */
}
html {
    scroll-behavior: smooth;
}

.username {
    margin-right: 30px; /* adds 20px space after username */
}

.header-dec h1{
    color: whitesmoke;
}

.header-container {
    display: flex;
    justify-content: space-between; /* left text, right button */
    align-items: flex-start;        /* align top */
    padding: 20px 40px;
    background-color: black;
}

.text h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #FF1493;
}

.text p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: gray
}


/* Each section */
.motivation-section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 120px 120px;
}

.home-container {
    height: 100vh;
    overflow-y: scroll;

    scroll-snap-type: y mandatory;
}

.motivation-section {
    scroll-snap-align: start;
}

.motivation-section.reverse {
    flex-direction: row-reverse;
}

.motivation-section img {
    width: 350px;        /* fixed width */
    height: auto;        /* keeps aspect ratio */
}

.link-text {
    margin: 0;
    color: whitesmoke;        /* dark pink */
    font-weight: 500;
    cursor: pointer;
    text-decoration: none; /* remove underline if desired */
}

.link-text:hover {
    color: pink; /* optional hover effect */
}

.text-block {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.text-block .link-text {
    margin-left: 20px;       /* indent the two p slightly */
    margin-top: 5px;         /* space between h1 and ps */
    cursor: pointer;         /* optional: indicate clickable */
    color: whitesmoke;          /* or your dark pink */
    font-weight: 500;
}

.logout-btn {
    align-self: flex-start;  /* button aligns top of container */
    padding: 10px 20px;
    background-color: #D0006F; /* modern dark pink */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

.logout-btn:hover {
    background-color: #FF1493; /* hover effect */
}